.App {
  text-align: center;
}
.photo{
  display: flex;
  flex-direction: row;
  padding: 18px;
  margin: 18px;
}
body{
  background-color: rgb(211, 179, 184);
}
.title{
  color : rgb(16, 17, 17) ;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
div {

  margin: auto;
  width: 100%;
  padding: 20px;
}
video{
  margin-left: 350px;
  margin-right: 200px;
  width: 40%;
  padding: 30px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
